@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <title>Chat Logs</title>
    </head>
    <body>
        <table border="1">
            <thead>
                <tr>
                    <td><b>Time</b></td>
                    <td><b>Message</b></td>
                </tr>
            </thead>
            @foreach(var logItem in @Model.Logs)
            {
                <tr>
                    <td>@logItem.Created</td>
                    <td>@logItem.Message</td>
                </tr>
             }
        </table>
    </body>
</html>