
::-webkit-scrollbar {
  width: 7px;
  height: 9px; }
  
::-webkit-scrollbar-track-piece {
  background-color: #fff; 
}

::-webkit-scrollbar-thumb {
    background-color: #aaa; 
}

body, .popup___ {
    margin: 0px;
    padding: 0px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 11px;
}

.hide {
    display: none !important;
}

#main_layout {
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup___ .w2ui-page {
    /*overflow:hidden;*/
}

.popup___ .p_title___:hover {
    cursor: move;
}

/*.w2ui-expanded-row .w2ui-grid-data.w2ui-expanded1 div:first-child {
    display: none;
}*/

.hide {
    display: none !important;
}

.n1 {
    width: 10px !important;
    height: 10px !important;
    margin-top: 7px !important;
    border-radius: 9px;
    box-shadow: 1px 1px 2px #ccc;
    background-color: #ED1B2F !important;
}

.n2 {
    width: 10px !important;
    height: 10px !important;
    margin-top: 7px !important;
    border-radius: 9px;
    box-shadow: 1px 1px 2px #ccc;
    background-color: #599C43 !important;
}

.n3 {
    width: 9px !important;
    height: 9px !important;
    margin-top: 7px !important;
    border-radius: 9px;
    box-shadow: 1px 1px 2px #ccc;
    background-color: #FFF !important;
    border: solid 1px #599C43;
}

.n4 {
    width: 10px !important;
    height: 10px !important;
    margin-top: 7px !important;
    border-radius: 9px;
    box-shadow: 1px 1px 2px #ccc;
    background-color: #FBBC05 !important;
}

.mleft {
    display: none;
    position: fixed;
    top: 33px;
    width: 350px;
    bottom: 0px;
    background: orange;
    z-index: 999;
    border: 1px solid rgb(136, 136, 136);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.188235) 0px 6px 20px 0px;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
